* {
  margin: 0;
  padding: 0;
}
body {
  background: lightgrey;
}
header{
  width: 100%;
  position: fixed;
  height 100px;
  overflow: hidden;
}
#banner{
  width: 100%;
  background: white;
  position: fixed;
  top: 100px;
  height: 400px;
}
#content {
  position: relative;
  width: 100%;
  text-align: center;
  height: 1500px;
  top: 500px;
  background: lightgrey;
  overflow: hidden;
}
